<!DOCTYPE html>
<html>

  <!-- The head tag contains header information about the HTML document. -->
  <head>
    <title>Error</title>
    <style>
	body
	{
	font-family:sans-serif;
	}
	</style>
  </head>

  <!-- The body tag contains the content of the HTML document. -->
  <body>
    <!-- Add your content here -->
    <h1> Error! </h1>
    <p> Not possible to render a plot! Check if you provided correct input.<br> Years are given as integers, months as strings (e.g. July), and limits on y-axis and thresholds as numbers. </p>
    <p> Go back to start page <a href="/">here</a></p>
  </body>

</html>